*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Lato', sans-serif;
    background: #f1f1f1;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/*Header section style*/
#header-section{
    background: #0b1997;
    padding:15px 0;
}
.logo{
    width: 20%;
}
.logo span{
    font-size:18px;
    color: #d3d3d3;
    cursor: pointer;
    position: relative;
}
.logo span i:last-child{
    display: none;
    font-size: 20px;
}
.logo a{
    font-size:18px;
    font-weight: 700;
    color: #d3d3d3;
    cursor: pointer;
}
.menu{
    width: 70%;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li a{
    font-size:18px;
    color: #d3d3d3;
    font-weight: 600;
    margin-left: 30px;
}

/* sidebar style */
.sidebar{
    position: relative;
    width: 20%;
    height: 100vh;
    background:#2c0ea7;
    padding-top:55px;
    padding-left: 2%;
}
.sidebar .sidebar-list li{
    position: relative;
    margin-bottom: 30px;
}
.sidebar .sidebar-list li a{
    font-size: 18px;
    color: #ebebeb;
    text-transform: capitalize;
}
/* .sidebar-list li::before{
    position: absolute;
    content: "";
    left: -30px;
    width: 2px;
    height:100%;
    background:#ebebeb;
} */
.sidebar .sidebar-list li:last-child{
    margin-top: 90%;
}
.sidebar .sidebar-list li a .left-icon{
    margin-right: 10px;
}
.mr-22{
    margin-right: 22px!important;
}
.sidebar .sidebar-list li a .right-icon{
    position: absolute;
    right: 15%;
}
.sidebar .sidebar-list li a .right-icon i{
    position: absolute;
    transition: all .5s ease ;
}
.sidebar .sidebar-list li a .right-icon i:hover i{
    font-size: 50px;
}
.sidebar .sidebar-list li a .right-icon i.angle_up{
    display: none;
}
/*sidebar sub list item*/
.sidebar-sub-list{
    display: none;
    width: 80%;
    background: #3616bb;
    padding: 10px 20px 5px;
    margin-left: 26px;
    margin-top: 5px;
    border-radius: 5px;
    transition:1s;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.sidebar-sub-list li{
    margin-bottom: 10px!important;
}
.sidebar-sub-list li a{
    font-size: 16px!important;
    color: #d3d3d3!important;
}
.sidebar-sub-list li:last-child{
    margin-top: 0!important;
}
/*toggle sidebar add and remove the class*/
.main-content-toggle{
    position: absolute;
    right: 0;
    width: 95%!important;
    transition: all .2s;
}


.main-content{
    width: 80%;
    height: 100vh;
    background: #edeef5;
    padding: 10px;
    transition: all .2s;
}
